/* =========================================
   MODAL IMAGEN MOBILE FULL VIEW
========================================= */
@media (max-width: 480px){
  .modal-content{
    max-width: 95%;
    padding: 12px;
  }

  .modal-content img{
    max-height: 85vh;
  }
}
